$blue:			 	#00214D;
$font-size-full: 	26px;
$font-size-mid:		18px;
$font-size-small:	15px;

html {display: block}
body {padding: 0px; margin: 0px; background: #000; border-top: 10px solid #00fbff;}

#container {
	width: 1000px;
	margin: 0 auto;
	
	@media screen and (max-width: 999px){
    	width: 100%;
    	
    	.content {
	    	
	    	ul {
		    	li {
			    	
			    	&:last-child {
			    		display: none;
			    	}
		    	}
	    	}
	    	
	    	article {
    			width: 43%;
			}
    	}
    	
    }
	@media screen and (max-width: 768px){
		nav{
	    	margin-top: 0px;
	    	
		    li {
				border-right: 0px; 
				
		    	&#logoSpace {
					padding: 0px; 
					border-right: 0px; 
				}
		    	a {
		    		background: #666;
		    		border-top: 1px solid #fff;
		    		width: 12.5%;
		    		padding: 8px;
					font-size: $font-size-mid;
				}
	    	}
    	}
    	
    	header {
	    	top: 10px;
	    	height: 300px;
		}
    	
    	.content {
	    	ul {
	    		top: 10px;
		    	left:20px;
		    	
		    	li {
		    	
			    	article {
			    		width:89%; 
			    	}
		    	}
	    	}
	    }
    }
	@media screen and (max-width: 480px){
    	nav {
	    	margin-top: 0px;
    	
	    	li {
				display:block;
				border-right: 0px;
				padding: 1px 0px 1px 0px;
				
				&#logoSpace {
					padding: 0px;
				}
				
				a {
					background: #666;
					width: 100%;
					padding-left: 0px;
					font-size: $font-size-full;
				}
			}
		}
		
		header {
			width: 90%;
	    	height: 100px;
		}
		
		.content {
			
			ul {
	    		top: 10px;
		    	left:0px;
		    	
		    	li {
		    	
		    		h2 {
				    	font-size: $font-size-mid;
				    }
			    	p {
			    		display: none;
			    	}
			    }
	    	}
	    }
	}
}

header {
	width: 89%;
	height: 400px;
	margin: 0 auto;
	background: #999;
	position: relative;
	top: 30px;
}

nav{
	list-style: none;
	margin-top: -85px;	
	padding: 0px;
	position: relative;
	//font-family: "alternate-gothic-no-2-d",sans-serif;
	font-family: Impact;
	text-transform: uppercase;
	width: auto;
	
	ul{
		text-align: center;
		margin: 0px;
		padding: 0px;
		
		li {
			display: inline;
			border-right: 1px solid #fff;
			padding: 10px 0px 10px 0px;
			&:last-child{
            	border-right: 0px;
            }
            
            &.noLine {
				border-right: 0px; 
			}	
			
			&#logoSpace {
				padding: 40px;; 
			}
			
			a {
				//background: #999;
				display:inline-block;
				padding:10px;
				margin: 0px;
				width: 10%;
				text-decoration: none;
				color: #fff;
				font-size: $font-size-full;
			}	
		}
	}
}

.logo {
	margin: 0 auto;
	background: url("images/studiobrainchild.png") no-repeat fixed center top;
	width: 98px;
	height: 106px;
	z-index: 10000;
}

.content {
	ul {
		padding: 0px;
		position: relative;
		left: 30px;
		top: 30px;
		
		li {
			display: block;
		
			article {
				//margin: 0 auto;
				color: #fff;
				position: relative;
				float: left;
				font-family: Helvetica;
				font-size: 12pt;
				width: 28%;
				text-align: justify;
				margin: 0px 0px 0px 25px;
			
				h2 {
					font-family: Impact;
					font-size: 31px;
					padding: 0px;
					margin: 0px;
				}
				
				p {
					padding: 0px;
					margin: 0px;
				}
			}
		}
	}
	
}	


		
